importlib_metadata
mat4py
lightning==2.0.1
redis
scikit-learn
scikit-image
tenacity
transformers<=4.50.3
ipdb
peft
prettytable
einops
imageio
pycocotools
shapely
terminaltables
albumentations
torch==2.1.2
torchvision==0.16.2
numpy==1.26.4
openmim
mim install mmengine
mim install "mmcv==2.1.0"
mim install mmdet
